.font {
    font-family: 'Philosopher', sans-serif;
}

.copyright-x {
    margin-left: -8px;
    margin-top: -8px;
    height: 400px;
    width: 1366px;
    background-color: black;
}

#appl {
    margin: -18px 0px;
}

.grids-x {
    display: grid;
    grid-template-rows: 0fr 0fr 0fr;
    grid-row-gap: 10px;
}

.part-x {
    margin: 30px 100px;
}

.part-x img {
    width: 120px;
    height: 120px;
}

/* SMALL SECTION */
#myImg {
    border-radius: 5px;
    background-color: rgb(182, 125, 235);
    text-shadow: 2px 2px 2px blueviolet, 2px 2px 1px black, 2px 2px 1px black;
    cursor: pointer;
    transition: 0.3s;
}

.copyright-x button {
    font-weight: 800;
    font-size: 18px;
    width: 150px;
    height: 35px;
    margin: 20px -17px;
    border: none;
}

#myImg:hover {
    opacity: 0.7;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    margin: 105px 295px;
    width: 800px;
    height: 450px;
    overflow: auto;
    background-color: rgb(182, 125, 235);
    box-shadow: 0px 2px 25px rgb(51, 155, 224), 0px 2px 25px red;
    border: 3px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.modal-content {
    margin: auto;
    display: block;
    width: 80px;
    height: 100px;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80px;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 0px;
    right: 15px;
    color: black;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    text-shadow: 2px 2px 2px blueviolet, 2px 2px 1px black, 2px 2px 1px black;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

.main-grid-x {
    margin-top: -30px;
    width: 280px;
}

.main-grid2 {
    margin-top: -30px;
    width: 260px;
}

.box-grid-x {
    display: grid;
    grid-template-columns: 0fr 0fr 0fr;
    grid-column-gap: 0px;
}

.continent {
    font-size: 18px;
    margin: 0px 50px;
    text-shadow: 2px 2px 2px blueviolet, 2px 2px 1px black, 2px 2px 1px black;
    font-weight: 600;
    width: 200px;
}

.main-heading-x {
    font-size: 36px;
    font-weight: 600;
    text-shadow: 2px 2px 2px blueviolet, 2px 2px 1px black, 2px 2px 1px black;
    text-align: center;
    margin-top: -20px;
}

.flag img {
    width: 35px;
    height: 25px;
}

.flag {
    margin: 0px 55px;
    display: flex;
}

.flag p {
    color: rgb(217, 184, 245);
    text-shadow: 2px 2px 2px blueviolet, 2px 2px 1px black, 2px 2px 1px white;
    margin: 3.5px 10px;
    font-weight: 600;
    font-size: 14px;
}

.grid2-y {
    display: grid;
    grid-template-rows: 0fr 0fr 0fr;
    grid-row-gap: 10px;
}

.copygrid {
    display: grid;
    grid-template-columns: 0fr 0fr 0fr 0fr 0fr 0fr;
    grid-column-gap: 20px;

}

.learn {
    width: 200px;
}

.learn span {
    font-size: 18px;
    color: rgb(170, 100, 235);
    font-weight: 600;
    text-shadow: 2px 2px 2px black, 2px 2px 2px blueviolet, 2px 2px 2px blueviolet;
}

.gap-x {
    height: 35px;
}

.learn ul {
    list-style: none;
    margin-left: 0px;
    margin-top: 10px;
    font-size: 14px;
}

.learn ul li {
    cursor: pointer;
    color: rgb(218, 198, 238);
    text-shadow: 2px 2px 2px black, 2px 2px 2px blueviolet, 2px 2px 2px blueviolet;
    line-height: 21px;
}

.learn ul li:hover {
    color: red;
}

.icon-grid {
    display: grid;
    grid-template-columns: 0fr 0fr 0fr 0fr;
    grid-column-gap: 0px;
}

* ICONS SECTION */ .icons-x {
    display: flex;
}

* ICONS SECTION */ .social-meadia {
    display: flex;
}

.insta-x {
    padding: 0px 0px;
    margin: -10px 00px;
    height: 70px;
    width: 70px;
    cursor: pointer;
}

.facebook-x {
    margin: 4px -00px;
    height: 38px;
    width: 38px;
    cursor: pointer;
}

.youtube-x {
    margin: -9px 00px;
    height: 62px;
    width: 73px;
    cursor: pointer;
}

.tweet-x {
    margin: -6px -10px;
    height: 60px;
    width: 60px;
    cursor: pointer;
}

.forms {
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    height: 30px;
}

.apples {
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    height: 30px;
}

.search-field {
    width: 20px;
    height: 25px;
    border: none;
    border-radius: 0px 20px 20px 0px;
    outline: none;
    color: rgb(167, 101, 228);
    font-size: 14px;
}

.search-button-x {
    display: flex;
    background: rgb(167, 101, 228);
    border: none;
    border-radius: 7px 5px;
    outline: none;
    padding: 0px 0px;
    border-right: 2px solid rgb(235, 229, 229);
}

.apple-store {
    display: flex;
    background: rgb(167, 101, 228);
    border: none;
    border-radius: 7px 5px;
    outline: none;
    padding: 0px 0px;
    border-right: 2px solid rgb(235, 229, 229);
}

.apples button {
    width: 145px;
    height: 40px;
}

.search-button-x img {
    margin: -3.5px 00px;
    width: 40px;
    height: 40px;
}

.apple-store img {
    margin: -3.5px 00px;
    width: 40px;
    height: 40px;
}

.container-x {
    margin: 00px 60px;
}

.download-btn {
    margin: 00px 60px;
}

::placeholder {
    color: rgb(167, 101, 228);
    font-family: 'Philosopher', sans-serif;
    opacity: 0.7;
}

.apple-store span {
    margin: 2px 0px;
    font-weight: 600;
    font-size: 11px;
    color: #ccc;
    text-shadow: 2px 2px 2px blueviolet, 2px 2px 2px black, 2px 2px 2px black;
}

.forms span {
    margin: 2px 0px;
    font-weight: 600;
    font-size: 11px;
    color: #ccc;
    text-shadow: 2px 2px 2px blueviolet, 2px 2px 2px black, 2px 2px 2px black;
}

.store {
    font-weight: 600;
    margin: -1px 0px;
    font-size: 18px;
    text-shadow: 2px 2px 2px blueviolet, 2px 2px 2px black, 2px 2px 2px black;
    color: black;
}

.line-x {
    height: 1px;
    background-color: blueviolet;
    opacity: 0.2;
    box-shadow: 1px 1px 1px white;
    width: 1200px;
    margin-left: 70px;
    margin-top: 40px;
}

footer {
    font-size: 14px;
    color: rgb(170, 100, 235);
    margin-left: 70px;
    margin-top: 30px;
    width: 1200px;
    font-weight: 600;
    text-shadow: 2px 2px 2px black, 2px 2px 2px blueviolet, 2px 2px 2px blueviolet;
}