/* SOME COMMON PROPERTIES */
.font {
    font-family: 'Philosopher', sans-serif;
}

.purple {
    color: blueviolet;
}

.weight {
    font-weight: 600;
}

.back-color {
    background-color: rgb(173, 152, 231);
}

/* BLOCK-(1) */
.block1 {
    height: 630px;
    width: 1351px;
    background-color: rgb(160, 96, 221);
    margin: 0px -10px;
}

/* NAVIGATION BAR */
nav {
    margin-top: -8px;
    width: 1358px;
    margin-left: -8px;
    margin-right: -8px;
    height: 70px;
    background-color: black;
}

.logo {
    display: flex;
}

.logo img {
    border-right: 2px solid blueviolet;
    width: 50px;
    height: 50px;
    margin: 10px 40px;
    padding: 0px 12px;
}

.logo span {
    width: 128px;
    font-size: 24px;
    margin: 22px -25px;
    text-shadow: 2px 2px 2px black, 2px 2px 1px blueviolet, 2px 2px 1px white;
}

.login-option1 {
    font-size: 22px;
    text-shadow: 2px 2px 2px black, 2px 2px 1px blueviolet, 2px 2px 1px white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 790px;
    margin-top: 20px;
    font-weight: 600;
}

.login-option2 {
    font-size: 22px;
    text-shadow: 2px 2px 2px black, 2px 2px 1px blueviolet, 2px 2px 1px white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.btn {
    border-radius: 18px;
    border: none;
    background-color: rgb(160, 96, 221);
    margin: 15px 20px;
    width: 125px;
    height: 30px;
    font-size: 16px;
    box-shadow: 0px 2px 10px rgb(51, 155, 224), 0px 2px 10px red;
    cursor: pointer;

}

/* PART-(1) */
.part1 {
    text-align: center;
}

/* MAIN-HEADING */
.heading {
    color: black;
    text-shadow: 2px 2px 2px blueviolet, 2px 2px 1px black, 2px 2px 1px black;
    font-size: 45px;
}

/* SEARCH-BAR */
.search {
    margin: 40px 460px;
    display: flex;
}

form {
    display: flex;
    padding: 0px;
    box-shadow: 2px 2px 25px rgb(167, 101, 228), 2px 2px 25px rgb(0, 0, 0);
    border-radius: 28px;
    margin: 3px 5px 0 6px;
}

.search input {
    width: 493px;
    height: 27px;
    border-radius: 28px 0px 0px 28px;
    margin: 0 2px 0 56px;
}

/* SEARCH-ICON */
HTML SCSSResult Skip Results Iframe EDIT ON body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
}

input[type="text"] {
    border: none;
    margin: 0px;
    padding: 22px 8px;
    font-size: 17px;
    color: black;
    width: 350px;
    height: 2px;
}

input[type="text"]::placeholder {
    text-shadow: 2px 1px 2px rgb(167, 101, 228);
    opacity: 0.8;
    font-size: 14px;
}

button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: none;
    background: rgb(253, 253, 253) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    border-radius: 0px 28px 28px 0px;
}

button[type="submit"]:hover {
    opacity: 1;
}

button[type="submit"]:focus,
input[type="text"]:focus {
    box-shadow: 0 0 3px 0 #ebedee;
    outline: none;
}

form.nosubmit {
    border: none;
    padding: 0;
}

input.nosubmit {
    border: 1px solid #555;
    width: 100%;
    padding: 9px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

/* ROBO-SUPPORT */
.robo img {
    margin: 100px 1015px;
    width: 340px;
    height: 420px;
}

.flip-robo img {
    width: 340px;
    height: 420px;
}

.flip-robo {
    margin: -530px 12px;
}

.space {
    height: 40px;
}

/*-- PART-(2) --*/
.part2 {
    background-color: black;
    height: 770px;
    width: 870px;
    margin-left: 240px;
    margin-top: -280px;
    padding: 0px 0px 0px 0px;
    border-radius: 15px;
    box-shadow: 2px 2px 30px rgb(167, 101, 228), 2px 2px 30px white;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: 0fr 0fr;
    grid-column-gap: 280px;
    padding-top: 15px 0px;
    padding-bottom: 0px;
}

/* BOX */
.sec1 {
    width: 100px;
    display: flex;
}

/* BOX-IMAGE */
.sec1 img {
    border-radius: 22px;
    background-color: blueviolet;
    height: 40px;
    width: 40px;
    margin-top: 80px;
    margin-left: 100px;
    padding: 10px 10px;
}

/* BOX-TEXT  */
.content-text {
    cursor: pointer;
    margin-top: 60px;
    margin-left: 30px;
}

/* BOX-CENTRAL HEADING */
.sec1 span {
    font-size: 24px;
    text-shadow: 2px 2px 2px black, 2px 2px 1px blueviolet, 2px 2px 1px white;
}

/* BOX-CONTENT */
.sec1 ul {
    text-shadow: 2px 2px 2px black, 2px 2px 1px blueviolet, 2px 2px 1px white;
    color: white;
    font-size: 14px;
    width: 140px;
    list-style: none;
    margin: 10px -25px;
}

/* BOX-STAR-DESIGN */
.sec1 ul li::before {
    content: "\2055";
    color: blueviolet;
    font-weight: bold;
    width: 1em;
    display: inline-block;
    margin-left: -1em;
}

/* SEPERATE TRANSACTION SETTING  */
#Trans img {
    padding: 1px 1px;
    height: 60px;
    width: 60px;
}


/* PART-(3) */
.part3 {
    height: 650px;
}

/* MAIN-CENTRAL HEADING */
.heading2 {
    text-align: center;
}

.heading2 span {
    font-size: 44px;
    text-shadow: 2px 2px 2px black, 2px 2px 2px blueviolet, 2px 2px 2px black;
}

/* CENTRAL-CONTENT */
.heading2-para {
    line-height: 7px;
    opacity: 0.6;
    font-size: 18px;
    text-align: center;
    color: black;
    text-shadow: 2px 2px 2px white, 2px 2px 1px blueviolet, 2px 2px 1px white;
}

/* GRID */
.grid2 {
    margin: 70px 180px;
    display: grid;
    grid-template-columns: 0fr 0fr 0fr;
    grid-column-gap: 40px;
    padding-top: 15px 0px;
    padding-bottom: 0px;
}

/* E-MAIL-CONTACT BOX */
.com1 {
    border-radius: 15px;
    box-shadow: 2px 2px 30px rgb(167, 101, 228), 2px 2px 30px black;
    width: 300px;
    height: 370px;
    background-color: black;
}

/* E-MAIL-CONTACT BOX ICON */
.com1 img {
    margin: 40px 90px;
    width: 110px;
    height: 110px;
}

/* E-MAIL-CONTACT MAIN-HEADING */
.com1 span {
    margin: -10px 50px;
    font-size: 22px;
    text-shadow: 2px 2px 2px black, 2px 2px 1px blueviolet, 2px 2px 1px white;
}

/* SPACE1 */
.space1 {
    height: 12px;
}

/* E-MAIL-CONTACT CONTENT */
.com1 p {
    text-shadow: 2px 2px 2px black, 2px 2px 1px blueviolet, 2px 2px 1px white;
    color: white;
    font-size: 12px;
    line-height: 2px;
    text-align: center;
}

/* E-MAIL-CONTACT BUTTON */
.btnus {
    border: none;
    border-radius: 18px;
    background-color: blueviolet;
    margin: 24px 75px;
    width: 150px;
    height: 35px;
    font-size: 20px;
    color: black;
    text-shadow: 2px 2px 2px blueviolet, 2px 2px 1px black, 2px 2px 1px black;
    box-shadow: 2px 2px 16px rgb(167, 101, 228), 2px 2px 16px black;
}

/* PHONE CONTACT SPECIAL SETTING */
#call img {
    margin: 33px 90px;
    width: 140px;
    height: 120px;
}


/* PART-(4)-[OUR TEAM MEMBERS] */
.part4 {
    height: 1250px;
}

/* SPACEX */
.spacex {
    height: 70px;
}

/* GRID */
.grid3 {
    margin: 70px 180px;
    display: grid;
    grid-template-columns: 0fr 0fr 0fr;
    grid-column-gap: 40px;
    padding-top: 15px 0px;
    padding-bottom: 0px;
    grid-row-gap: 150px;
}

/* MEMBER BOX */
.mem1 {
    border-radius: 15px;
    box-shadow: 2px 2px 30px rgb(167, 101, 228), 2px 2px 30px black;
    width: 300px;
    height: 390px;
    background-color: black;
}

/* MEMBER IMAGE */
.mem1 img {
    border: 5px solid black;
    box-shadow: 2px 2px 17px rgb(167, 101, 228), 2px 2px 17px rgb(221, 89, 89);
    border-radius: 100px;
    margin: -90px 52px;
    width: 189px;
    height: 189px;
}

/* SPACEX -(1) */
.spacex1 {
    height: 110px;
}

/* MEMBER POST FOR (CEO) */
.mem1 p {
    width: 400px;
    text-shadow: 1px 1px 1px black, 1px 1px 1px blueviolet, 1px 1px 1px white;
    font-size: 18px;
    line-height: 2px;
    margin: 10px 55px;
}
#ceo {
    margin: 10px 110px;
    font-size: 20px;
}

/* MEMBER NAME */
.mem1 span {
    text-align: center;
    margin: 00px 34px;
    font-size: 28px;
    text-shadow: 2px 2px 2px black, 2px 2px 1px blueviolet, 2px 2px 1px white;
}

/* MEMBER QUALIFICATION */
.mem1 ul li::before {
    content: "\2055";
    color: blueviolet;
    font-weight: bold;
    width: 1em;
    display: inline-block;
    margin-left: -1em;
}
.mem1 ul {
    text-shadow: 2px 2px 2px black, 2px 2px 1px blueviolet, 2px 2px 1px white;
    color: white;
    font-size: 16px;
    width: 250px;
    list-style: none;
    margin: 15px 25px;
    line-height: 22px;
}

/* MEMBER CONTACT BUTTON */
.btnos {
    border: none;
    border-radius: 18px;
    background-color: rgb(81, 19, 139);
    margin: 10px 60px;
    width: 170px;
    height: 30px;
    font-size: 20px;
    color: rgb(165, 157, 157);
    text-shadow: 2px 2px 2px black, 2px 2px 1px black, 2px 2px 1px black;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgb(77, 28, 122), 2px 2px 10px black;
}

/* MEMBER-PRATYAKSH SPECIAL SETTING */
#pk {
    margin: 10px 40px;
    font-size: 16px;
}

/* SOME SEPERATE SETTINGS */
#some {
    margin: 10px 70px;
}

#somes {
    margin: 10px 90px;
}